

/*============================================================
	Macbook pro 13 inch
==============================================================*/
@media only screen and (min-width: 1601px) {
	.rocket {
		left: -50px;
		top: 16px;
	}
}

/*============================================================
	Macbook pro 13 inch
==============================================================*/
@media only screen and (min-width: 1151px) and (max-width: 1366px) {
	.rocket {
		left: 90px;
		top: 0;
		img {
			max-width: 45%;
		}
	}
}
/*============================================================
	For Small Desktop / tablet landscape
==============================================================*/
@media (min-width: 980px) and (max-width: 1150px) {
	.site-header .nav-list-item > li > a {
	  	padding: 0 20px;
	}
	.parallax-home .device {
	  	margin-top: 40px;
	}

	.banner-content {
		h1 {
			font-size: 40px;
			line-height: 1.16;
		}
	  	.iphone-layer {
	  		left: -30px;
			img {
				max-width: 70%;
			}
	  	}
	}
	.cloud {
	  	bottom: -15%;
	}
	.rocket {
	  	left: 82px;
	  	top: 100px;
	}

}

/*============================================================
    iPad Landscape 1024px
==============================================================*/
@media only screen and (max-width: 1024px) {
    .parallax {
        background-attachment: scroll !important;
        background-position: center top !important;
        background-size: cover !important;
    }
}
	



/*============================================================
	Tablet (Portrait) Design for a width of 768px
==============================================================*/
@media (min-width: 768px) and (max-width: 979px) {
	.site-header {
		.navbar-brand {
	  		padding: 20px 20px 20px 0;
	  	}
	  	.nav-list-item {
	  		& > li > a {
	  	  		padding: 0 10px;
	  	  	}
	  	  	&.social {
	  	  		li a {
	  	  			padding: 0 8px;
	  	  		}
	  	  	}
	  	}
	}
	.home-slider .slide-content {
	  	margin: 0 0 0 9%;
	}
	.parallax-home .device {
	  	margin-top: 40px;
	}
	.home-parallax-2 h2 {
	  	font-size: 36px;
	}
	.home-parallax-3 {
		.opacity-logo {
			font-size: 200px;
		}
		h2 {
			font-size: 35px;
			letter-spacing: 2px;
		}
		p {
			font-size: 20px;
		}
	}
		.cloud {
    	background-position: center bottom;  
	}
	.banner-content h1 {
		font-size: 40px;
		line-height: 1.16;
	}
	.cloud {
	  	bottom: 0;
	}
	.rocket {
	  	left: 0;
	  	top: 140px;
	  	img {
	  		max-width: 100%;
	  	}
	}
	.rd-devices {
	  	@include flexbox();
	  	@include align-items(flex-end);
	}
	.team-member,
	.service-item {
		margin-bottom: 30px;
	}
	.logo-carousel .item img {
	  	max-width: 70%;
	  	width: auto;
	  	margin: 0 auto;
	}
}

/*============================================================
	Mobile (Portrait) Design for a width of 320px
==============================================================*/
@media only screen and (max-width: 767px) {
	.section-title h2 {
	  	font-size: 24px;
	}

	.sticky-header {
		background-color: $light;
		box-shadow: $box-shadow;
	  	padding: 15px 0;
	  	position: relative;
	  	top: 0;
	  	.navbar-brand {
	  		padding: 10px 0 0 15px;
	  		img {
	  			width: 60%;
	  		}
	  	}
	  	.navbar-toggle {
	  	  	border-radius: 2px;
	  	  	margin: 0 15px 0 0;
	  	}
	  	.primary-nav {
	  		padding: 0 15px;
	  		position: relative;
	  		right: auto;
	  		@include transform(translate(0px, 20px));
	  	}
	  	.nav-list {
	  		text-align: left;
	  		li {
	  			&::after {
	  				content: none;
	  			}
	  			a, .active {
	  				&::before {
	  					content: none;
	  				}
	  			}
	  			a {
	  				color: $text-color;
	  				&:hover {
	  					color: $primary-color;
	  				}
	  			}
	  		}
	  	}
	}
	.site-header {
		&.transparent {
			background-color: $light;
		}
		.navbar-brand {
	  		padding: 15px;
	  	}
	  	.navbar-toggle {
	  		border-color: $border-color;
	  		border-radius: 2px;
	  	  	margin: 10px 15px 10px;
	  	}
	  	.nav-list-item {
	  		float: none;
	  		& > li {
	  			float: none;
	  			& > a {
	  	  			padding: 0;
	  	  			line-height: 35px;
	  	  		}
	  	  	}
	  	  	&.social {
	  	  		& > li {
	  	  			float: left;
	  	  		}
	  	  	}
	  	}
	  	&.primary-bg {
	  		.navbar-toggle {
	  			background-color: $light;
	  		}
	  		.navbar-toggle .icon-bar {
	  			background-color: $text-color;
	  		}
	  	}
	  	&.fixed {
	  		.navbar-brand {
	  			.logo1 {
	  				display: none;
	  			}
	  			.logo2 {
	  				display: block;
	  			}
	  		}
	  	}
	}
	.header-bottom {
		box-shadow: $box-shadow;
		position: relative;
		z-index: 11;
	}
	.site-header.style2 {
		.primary-nav {
			background-color: $light;
			padding-left: 15px;
			padding-right: 15px;
		}
		.nav-list-item li:first-child a {
		  	padding-left: 10px;
		}
	}
	.home-slider {
		.slide-content {
			margin: 0 auto;
			h2 {
				font-size: 25px;
				line-height: 1.3;
				margin-bottom: 15px;
			}
			p {
				font-size: 14px;
			}
		}
	}
	.parallax-content {
		left: 15px;
		right: 15px;
		.logo {
	  		max-width: 250px;
	  	}
	  	.device {
	  		margin-top: 30px;
	  	}
	  	.mdl-button {
	  	  	font-size: 12px;
	  	  	padding: 0 22px;
	  	}
	}
	[class^="home-slider-h"] {
		.slide-content {
			width: auto;
			left: 15px;
			right: 15px;
		}
	  	.mdl-button {
	  	  	font-size: 12px;
	  	  	padding: 0 22px;
	  	}
	}
	.home-slider-h3 .slide-content h2,
	.home-slider-h4 .slide-content h2 {
	  	font-size: 25px;
	}
	.home-parallax-1,
	.home-parallax-2 {
		h4 {
	  		font-size: 14px;
	  	}
	  	h2 {
	  		font-size: 18px;
	  	}
	}
	.home-slider-h5 .slide-content {
		h4 {
			font-size: 18px;
		}
		h2 {
	  		font-size: 22px;
	  	}
	}
	.home-parallax-3 {
		.opacity-logo {
			font-size: 90px;
		}
		h2 {
			font-size: 17px;
			letter-spacing: 2px;
			margin-bottom: 10px;
		}
		p {
			font-size: 14px;
		}
	}
	.banner-content h1 {
	  	font-size: 25px;
	  	line-height: 38px;
	}
	.rd-devices {
	  	@include flexbox();
	  	@include align-items(flex-end);
	  	li img {
	  		max-width: 100%;
	  	}
	}

	.cloud {
    	+ .container {
    		padding-bottom: 90px;
    		padding-top: 120px;
    	}
	}
	.mdl-button {
	  	padding: 0 26px;
	}
	.disable.fullscreen {
	  	height: auto !important;
	}

	.team-member,
	.service-item,
	.price-table,
	.contact-block,
	.portfolio-large {
		margin-bottom: 30px;
	}
	.scalabilty h2 {
		font-size: 18px;
	  	line-height: 1.5;
	  	margin-top: 30px;
	}
	.team-member img {
	  	width: 100%;
	}
	.logo-carousel .item img {
	  	max-width: 70%;
	  	width: auto;
	  	margin: 0 auto;
	}
	.news-slider-nav .hentry {
	  	padding: 20px;
	}
	.copyright {
		text-align: center;
	}
	.footer-social {
	  	margin: 15px 0 0;
	  	text-align: center;
	}
}