// colors
$primary-color: #5486f6;
$dark: #000;
$light: #fff;
$text-color: rgba($dark, 0.6);
$title-color: rgba($dark, 0.8);
$border-color: rgba($dark, 0.1);
$box-shadow: 0 3px 9px 0 rgba($dark, 0.1);

// fonts
$font-stack: 'Roboto', sans-serif;
$title-font: 'Roboto Slab', sans-serif;