/*------------------------------------------------------------------

Project 	 :	Cube Plus Landing Page
Version 	 :	1.0
Created		 :  25/06/2016
Last update  :	21/07/2016

--------------------------------------------------------------------

[Table of contents]

01.  Variables
02.  Mixins
03.  Base Style
04.	 Header
04.  .home-slider
05.  #about
07.  #team
08.  #testimonial
09.  #features
10.  #portfolio
11.  #News Blog
12.  #Call to Action
13.  #Pricing
14.  #Twitter feed
15.  #Contact us
16.  #Footer
		16.1  .copyright
		16.2  .social-links

------------------------------------------------------------------

[Color codes]

Background:	#ffffff (white)
Primary:	#5486f6
Title: 		rgba(0,0,0,0.87)
Content:	rgba(0,0,0,0.54)

link (standard):	rgba(0,0,0,0.54)
link (hover)   :	#5486f6

-----------------------------------------------------------------------

[Typography]

Body       :	  Roboto, sans-serif;
Title	   :	  Roboto Slab, sans-serif
-----------------------------------------------------------------------*/
::-moz-selection {
  /* Code for Firefox */
  background-color: #5486f6;
  color: #fff; }

::selection {
  background-color: #5486f6;
  color: #fff; }

body {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  a:hover {
    color: #5486f6; }

a:hover, a:focus {
  outline: none;
  text-decoration: none; }

p {
  font-weight: 300;
  margin-bottom: 20px; }
  p:last-child {
    margin-bottom: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

/**
 *  Typography
 *
 **/
h1, h2, h3,
h4, h5, h6 {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  line-height: 1.3;
  margin: 0; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clear {
  *zoom: 1; }
  .clear:before, .clear:after {
    content: " ";
    display: table; }
  .clear:after {
    clear: both; }

/**
 *  Reset input fields opacity
 *
 **/
::-webkit-input-placeholder {
  opacity: 1;
  color: inherit; }

:-moz-placeholder {
  /* Firefox 18- */
  opacity: 1;
  color: inherit; }

::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1;
  color: inherit; }

:-ms-input-placeholder {
  opacity: 1;
  color: inherit; }

button, input, select, textarea {
  font-weight: 400; }

.btn:hover, .btn:focus, .btn:active:focus {
  outline: none; }

.mdl-button--raised {
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.1); }
  .mdl-button--raised:focus:not(:active) {
    background-color: #5486f6; }

.btn-cube {
  border: 0;
  border-radius: 30px;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  padding: 0 60px; }

.mdl-button {
  height: 45px;
  line-height: 45px;
  padding: 0 30px; }

.btn-primary {
  background-color: #5486f6; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:hover, .btn-primary:active:focus {
    background-color: #2d6bf4; }

.btn-white {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.6); }
  .btn-white:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.6); }

.material-icons {
  font-size: inherit;
  line-height: inherit; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }

.flex-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.relative {
  position: relative; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

.primary-bg {
  background-color: #5486f6; }

.dark-bg {
  background-color: #34495e; }

.section {
  padding: 120px 0; }

.top-full {
  padding-top: 120px; }

.top-half {
  padding-top: 60px; }

.top-only {
  padding-top: 60px; }

.bottom-half {
  padding-bottom: 60px; }

.bottom-only {
  padding-bottom: 60px; }

.bottom-full {
  padding-bottom: 120px; }

.o-hidden {
  overflow: hidden; }

.text-light {
  color: #fff; }

.title-color {
  color: rgba(0, 0, 0, 0.8); }

.primary-color {
  color: #5486f6; }

.no-gutter {
  margin-left: 0;
  margin-right: 0; }
  .no-gutter > [class^="col-"] {
    padding-left: 0;
    padding-right: 0; }

.section-title {
  background-color: #5486f6;
  padding: 50px 0; }
  .section-title h2 {
    color: #fff;
    font-size: 36px;
    position: relative;
    text-transform: uppercase; }
  .section-title .section-anchor {
    background-color: #5486f6;
    border-radius: 50px;
    bottom: -50px;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 40px;
    height: 55px;
    left: 50%;
    line-height: 58px;
    position: absolute;
    width: 55px;
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%); }
  .section-title.white-bg {
    background-color: #fff;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.1); }
    .section-title.white-bg h2 {
      color: rgba(0, 0, 0, 0.8); }

.cp-breadcrumb {
  margin-top: 6px; }
  .cp-breadcrumb li {
    font-size: 18px;
    font-weight: 300;
    position: relative; }
    .cp-breadcrumb li + li::before {
      content: '\f178';
      display: inline-block;
      font: normal normal normal 14px/1 'FontAwesome';
      font-size: inherit;
      text-rendering: auto;
      margin: 0 10px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .cp-breadcrumb li a {
      font-weight: 300; }
  .cp-breadcrumb.light li {
    color: #fff; }
    .cp-breadcrumb.light li a {
      color: #fff; }

.section-intro {
  margin-bottom: 60px; }
  .section-intro h4 {
    position: relative;
    text-transform: uppercase;
    /*span {
    	border-bottom: 1px solid rgba($dark, 0.4);
    	padding: 0 10px 10px;
    	position: relative;
    	&::before, &::after {
    		background-color: rgba($dark, 0.4);
    		bottom: -4px;
    		content: "";
    		height: 3px;
    		left: 0;
    		position: absolute;
    		width: 10px;
    	}
    	&::after {
    		left: auto;
    		right: 0;
    	}
    }*/ }
  .section-intro .sep {
    background: transparent url("../img/misc/divider.png") no-repeat scroll center center;
    display: block;
    height: 18px;
    margin-top: 10px;
    opacity: 0.15; }
  .section-intro p {
    margin-top: 45px; }

.parallax {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .parallax .overlay {
    background-color: rgba(52, 73, 94, 0.8); }

.gmap {
  width: 100%;
  height: 700px; }

/**------------------------------------------------
	Header
--------------------------------------------------**/
.sticky-header {
  background-color: transparent;
  left: 0;
  position: absolute;
  right: 0;
  top: 42px;
  z-index: 50; }
  .sticky-header .primary-nav {
    padding: 0;
    position: fixed;
    right: 40px;
    top: 50%;
    z-index: 10;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  .sticky-header .nav-list li {
    position: relative; }
    .sticky-header .nav-list li::after {
      border-right: 2px solid #5486f6;
      content: "";
      height: 24px;
      position: absolute;
      right: 0.21em;
      top: 22px; }
    .sticky-header .nav-list li:last-child::after {
      content: none; }
    .sticky-header .nav-list li a {
      color: #5486f6;
      display: block;
      font-weight: 300;
      line-height: 33px; }
      .sticky-header .nav-list li a::before {
        color: #5486f6;
        content: "\f10c";
        float: right;
        font-family: "FontAwesome";
        font-size: 14px;
        height: 10px;
        margin-left: 10px;
        width: 10px; }
    .sticky-header .nav-list li .active::before {
      content: "\f111"; }

.navbar-brand {
  height: auto;
  padding: 0; }

.site-header {
  background-color: #fff;
  position: relative;
  z-index: 11;
  width: 100% !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .site-header.primary-bg {
    background-color: #5486f6; }
  .site-header.shadow {
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.1); }
  .site-header.bottom-border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .site-header.fixed {
    position: fixed;
    left: 0;
    right: 0; }
    .site-header.fixed.is-sticky {
      background-color: #fff;
      box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.1); }
  .site-header.transparent {
    background-color: transparent; }
  .site-header .top-inner {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .site-header .navbar-brand {
    padding: 20px 35px 20px 0; }
  .site-header .nav-list-item {
    float: left;
    margin-right: 0; }
    .site-header .nav-list-item > li {
      float: left; }
      .site-header .nav-list-item > li > a {
        color: rgba(0, 0, 0, 0.6);
        display: block;
        font-size: 11px;
        font-weight: 400;
        line-height: 65px;
        padding: 0 25px;
        text-transform: uppercase; }
    .site-header .nav-list-item.white > li > a {
      color: #fff; }
    .site-header .nav-list-item .search a {
      font-size: 16px; }
    .site-header .nav-list-item.social > li > a {
      font-size: 14px;
      padding: 0 10px; }
  .site-header.style2 .primary-nav {
    padding-left: 0;
    padding-right: 0; }
  .site-header.style2 .nav-list-item li:first-child a {
    padding-left: 0; }

.navbar-brand .logo2 {
  display: none; }

.header-top .mdl-button {
  margin-top: 10px; }

.is-sticky .site-header.primary-bg {
  background-color: #6c97f7; }
.is-sticky .header-bottom {
  background-color: #fff;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.1); }
.is-sticky .navbar-brand .logo1 {
  display: none; }
.is-sticky .navbar-brand .logo2 {
  display: block; }

/**------------------------------------------------
	Slider
--------------------------------------------------**/
.home-slider .item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
.home-slider .overlay {
  background-color: rgba(255, 255, 255, 0.9); }
.home-slider .container {
  z-index: 1; }
.home-slider .slide-content {
  margin: 0 75px 0 10%;
  max-width: 530px;
  text-align: center;
  width: 100%; }
  .home-slider .slide-content h2 {
    font-size: 45px;
    line-height: 1;
    margin-bottom: 30px; }
  .home-slider .slide-content p {
    font-size: 16px;
    line-height: 26px; }
.home-slider .phone img {
  width: auto;
  max-width: 100%; }
.home-slider .btn-primary {
  margin-right: 10px; }
.home-slider .slick-arrow {
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  font-size: 80px;
  left: 30px;
  position: absolute;
  top: 50%;
  z-index: 10;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
.home-slider .slick-next {
  left: auto;
  right: 30px; }
.home-slider .slick-dots {
  bottom: 20px;
  left: 50%;
  position: absolute;
  z-index: 10;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.home-parallax {
  background-color: #f7f7f7; }

.parallax-content {
  left: 15px;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-top: 80px; }
  .parallax-content .logo {
    margin-bottom: 40px; }
  .parallax-content p {
    font-size: 16px; }
  .parallax-content a:first-child {
    margin-right: 10px; }
  .parallax-content .device {
    margin-top: 40px; }

[class^="home-slider-h"] .slick-slide {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
[class^="home-slider-h"] .overlay {
  background-color: rgba(35, 35, 35, 0.6); }
[class^="home-slider-h"] .slide-content {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 15px;
  right: 15px;
  z-index: 1;
  opacity: 0;
  -webkit-transform: translateY(10%);
  -moz-transform: translateY(10%);
  -ms-transform: translateY(10%);
  -o-transform: translateY(10%);
  transform: translateY(10%);
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  -moz-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  -o-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s; }
  [class^="home-slider-h"] .slide-content .light {
    color: #fff; }
[class^="home-slider-h"] .slick-active .slide-content {
  opacity: 1;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.home-slider-h3 .slide-content h2 {
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 30px; }
.home-slider-h3 .slide-content p {
  font-size: 18px; }

.home-slider-h4 .slide-content h2 {
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 30px; }
.home-slider-h4 .slide-content p {
  font-size: 18px; }

.home-slider-h5 .slide-content h4 {
  font-size: 22px;
  margin-bottom: 30px; }
.home-slider-h5 .slide-content h2 {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 50px; }
.home-slider-h5 .slide-content .mdl-button:first-child {
  margin-right: 10px; }

.control-one .slick-arrow {
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 32px;
  height: 40px;
  left: 50px;
  line-height: 40px;
  opacity: 0;
  padding: 0 5px;
  position: absolute;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: opacity 0.3s ease 0s;
  -moz-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s; }
.control-one .slick-next {
  left: auto;
  right: 50px; }
.control-one .slick-dots {
  bottom: 30px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 10; }
.control-one:hover .slick-arrow {
  opacity: 1; }

.home-parallax-1,
.home-parallax-2 {
  background-color: rgba(3, 3, 3, 0.9); }
  .home-parallax-1 h4,
  .home-parallax-2 h4 {
    color: #fff;
    margin-bottom: 30px; }
  .home-parallax-1 h2,
  .home-parallax-2 h2 {
    color: #fff;
    margin-bottom: 50px; }

.home-parallax-2 h2 {
  font-size: 50px;
  font-weight: 700; }

.home-parallax-3 .opacity-logo {
  font-size: 300px;
  font-weight: 700;
  left: 50%;
  line-height: 1;
  opacity: 0.1;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
.home-parallax-3 h2 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 6px;
  margin-bottom: 30px; }
.home-parallax-3 p {
  font-size: 24px; }

.cloud {
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: -23%;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 5; }

.banner-content {
  z-index: 10; }
  .banner-content h1 {
    font-size: 58px;
    line-height: 66px;
    font-weight: 700;
    margin-bottom: 13px;
    text-transform: uppercase; }
  .banner-content .buttons {
    padding-top: 12px; }
  .banner-content a:first-child {
    margin-right: 10px; }
  .banner-content .iphone-layer {
    left: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    .banner-content .iphone-layer img {
      max-width: 70%;
      margin: 0 auto;
      display: block; }

.rocket {
  left: 20px;
  position: relative;
  top: -30px; }
  .rocket img {
    display: block;
    max-width: 60%;
    margin: 0 auto; }

/**------------------------------------------------
	slider
--------------------------------------------------**/
.scalabilty {
  border-top: 4px solid #5486f6; }
  .scalabilty .rd-devices li {
    display: inline-block;
    margin: 5px 5px 10px;
    text-align: center;
    vertical-align: bottom; }
  .scalabilty h2 {
    color: #fff;
    margin-top: 50px; }

/**------------------------------------------------
	Service
--------------------------------------------------**/
.service-item {
  background-color: #f7f7f7;
  padding: 0px 30px 60px;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .service-item.reverse {
    background-color: #fff; }
    .service-item.reverse .icon::after {
      background-color: #f7f7f7; }
  .service-item .service-inner {
    overflow: hidden; }
  .service-item .icon {
    display: inline-block;
    font-size: 40px;
    height: 130px;
    line-height: 90px;
    margin-bottom: 30px;
    position: relative;
    width: 130px;
    z-index: 0;
    -webkit-transition: color 0.3s ease 0s;
    -moz-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s; }
    .service-item .icon::after {
      background-color: #fff;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: -30px;
      width: 100%;
      z-index: -1;
      -webkit-transform: rotate(15deg);
      -moz-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      -o-transform: rotate(15deg);
      transform: rotate(15deg);
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
  .service-item h3 {
    margin-bottom: 18px; }
  .service-item:hover {
    background-color: #fff;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.1); }
    .service-item:hover .icon {
      color: #fff; }
      .service-item:hover .icon::after {
        background-color: #5486f6; }

.col-md-3 .service-item {
  margin-bottom: 30px; }

/**------------------------------------------------
	Team
--------------------------------------------------**/
.progress {
  border-radius: 2px;
  box-shadow: none;
  height: 5px;
  margin: 2px 0 0;
  overflow: visible; }

.team-member {
  border-radius: 2px;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.1); }
  .team-member .bio {
    padding: 20px 0; }
  .team-member .skill-set:not(:last-child) {
    margin-bottom: 10px; }
  .team-member .skills {
    background-color: #fff;
    bottom: 0;
    left: 0;
    padding: 20px 20px 25px;
    width: 100%;
    position: absolute;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: left bottom 0;
    -moz-transform-origin: left bottom 0;
    -ms-transform-origin: left bottom 0;
    -o-transform-origin: left bottom 0;
    transform-origin: left bottom 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .team-member .info {
    font-family: "Roboto Slab", sans-serif;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .team-member .info > * {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -moz-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
  .team-member p {
    margin: 0; }
  .team-member .skill-bar {
    background-color: #5486f6;
    border-radius: 2px;
    height: 5px; }
  .team-member:hover .skills {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1); }

/**------------------------------------------------
	Testimonial
--------------------------------------------------**/
.testimonial-section {
  color: #fff; }

.testimonial .slick-dots {
  margin-top: 30px; }
.testimonial .item p {
  color: rgba(255, 255, 255, 0.54);
  font-size: 16px;
  font-style: italic;
  line-height: 26px; }
.testimonial .item h4 {
  color: #fff;
  font-size: 16px;
  font-weight: 400; }
.testimonial .item span {
  color: rgba(255, 255, 255, 0.54); }

.slick-dots li {
  border: 2px solid #5486f6;
  border-radius: 15px;
  cursor: pointer;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  margin: 0 1.5px;
  width: 18px;
  text-align: center; }
.slick-dots button {
  background-color: transparent;
  border: 0 none;
  border-radius: 23px;
  height: 10px;
  margin: 2px 0 0;
  padding: 0;
  text-indent: -9999em;
  width: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0); }
.slick-dots .slick-active button {
  background-color: #5486f6;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

/**------------------------------------------------
	Features
--------------------------------------------------**/
.features-text {
  color: #fff;
  margin-top: 30px; }
  .features-text h2 {
    color: #fff;
    margin-bottom: 50px; }
  .features-text a {
    margin-top: 15px; }

/**------------------------------------------------
	Portfolio
-------------------------------------------------**/
.portfolio-filter {
  margin-bottom: 25px; }
  .portfolio-filter li {
    display: inline-block;
    margin-right: 10px; }
    .portfolio-filter li:last-child {
      margin-right: 0; }
    .portfolio-filter li a {
      display: block;
      background-color: transparent;
      color: rgba(0, 0, 0, 0.6);
      display: block;
      font-size: 14px;
      font-weight: 400;
      height: auto;
      line-height: 1;
      min-width: auto;
      padding: 10px 15px 7px;
      text-transform: none; }
    .portfolio-filter li .active {
      background-color: #5486f6;
      color: #fff; }

.portfolio-item .hover {
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 0; }
  .portfolio-item .hover::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .portfolio-item .hover::after {
    background-color: #5486f6;
    border-top-left-radius: 50px;
    bottom: 0;
    content: "";
    height: 50px;
    opacity: 0.3;
    position: absolute;
    right: 0;
    width: 50px;
    z-index: -1;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: right bottom 0;
    -moz-transform-origin: right bottom 0;
    -ms-transform-origin: right bottom 0;
    -o-transform-origin: right bottom 0;
    transform-origin: right bottom 0;
    -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    -moz-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    -o-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s; }
.portfolio-item .hover-inner {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle; }
  .portfolio-item .hover-inner a {
    background-color: #5486f6;
    border-radius: 50px;
    color: #fff;
    display: block;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    width: 50px;
    z-index: 30;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    -moz-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    -o-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s; }
.portfolio-item.active .hover::after {
  -webkit-transform: scale(14);
  -moz-transform: scale(14);
  -ms-transform: scale(14);
  -o-transform: scale(14);
  transform: scale(14); }
.portfolio-item.active .hover-inner a {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

.mfp-bg {
  background-color: #fff;
  opacity: 1; }

.portfolio-desc h3 {
  margin-bottom: 15px; }

/* 

====== Zoom effect ======

*/
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */ }
  .mfp-zoom-in .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8); }
  .mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out; }
  .mfp-zoom-in.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: scale(1); }
  .mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8; }
  .mfp-zoom-in.mfp-removing .mfp-with-anim {
    transform: scale(0.8);
    opacity: 0; }
  .mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0; }

/**------------------------------------------------
	News Gallery
-------------------------------------------------**/
.news-slider-for img,
.news-slider-nav img {
  width: 100%; }

.news-slider-for::after {
  border-color: transparent transparent #5486f6;
  border-style: solid;
  border-width: 20px;
  bottom: 0;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 10;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.news-slider-nav .item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  height: 170px;
  position: relative; }
.news-slider-nav .hentry {
  background-color: #5486f6;
  color: #fff;
  height: 100%;
  opacity: 0;
  padding: 30px;
  position: absolute;
  visibility: hidden;
  width: 100%;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }
  .news-slider-nav .hentry h2 {
    font-size: 18px;
    margin-bottom: 15px; }
  .news-slider-nav .hentry a {
    color: #fff; }
.news-slider-nav .slick-center .hentry {
  opacity: 1;
  visibility: visible; }
.news-slider-nav .slick-arrow {
  background-color: #5486f6;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 32px;
  height: 40px;
  left: 10px;
  line-height: 40px;
  opacity: 0;
  padding: 0 5px;
  position: absolute;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: opacity 0.3s ease 0s;
  -moz-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s; }
.news-slider-nav .slick-next {
  left: auto;
  right: 10px; }
.news-slider-nav:hover .slick-arrow {
  opacity: 1; }

/**------------------------------------------------
	CTA
--------------------------------------------------**/
.cta-body {
  color: #fff; }
  .cta-body h2 {
    color: #fff;
    margin-bottom: 40px; }
  .cta-body p {
    font-size: 16px;
    margin-bottom: 30px; }

/**------------------------------------------------
	Price Table
--------------------------------------------------**/
.price-table {
  border-radius: 2px;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.1); }
  .price-table .price-head {
    background-color: #34495e;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #fff;
    padding: 20px;
    -webkit-transition: background-color 0.3s ease 0s;
    -moz-transition: background-color 0.3s ease 0s;
    -o-transition: background-color 0.3s ease 0s;
    transition: background-color 0.3s ease 0s; }
    .price-table .price-head i {
      font-size: 50px;
      line-height: 0.7; }
    .price-table .price-head h4 {
      color: #fff;
      font-size: 24px; }
  .price-table .price {
    font-size: 60px;
    padding: 45px 0 38px;
    line-height: 1; }
    .price-table .price sup {
      display: inline-block;
      font-size: 16px;
      margin-right: 8px;
      top: 16px;
      vertical-align: top; }
    .price-table .price span {
      font-size: 15px;
      margin-left: -15px; }
  .price-table li {
    padding: 20px 0; }
    .price-table li:nth-child(2n) {
      background-color: #f0f0f0; }
  .price-table .price-foot {
    background-color: #34495e;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    font-weight: 500;
    padding: 25px;
    text-transform: uppercase;
    -webkit-transition: background-color 0.3s ease 0s;
    -moz-transition: background-color 0.3s ease 0s;
    -o-transition: background-color 0.3s ease 0s;
    transition: background-color 0.3s ease 0s; }
    .price-table .price-foot a {
      color: #fff; }
  .price-table:hover .price-head,
  .price-table:hover .price-foot {
    background-color: #5486f6; }

/**------------------------------------------------
	Twitter Feed
--------------------------------------------------**/
.slick-slide:focus {
  outline: 0 none; }

#twitter-feeds {
  background: transparent url("../img/twitter-feed.png") no-repeat scroll 0 8px;
  padding-left: 80px; }

.twitter-item {
  color: #fff; }
  .twitter-item .twitter-pic {
    display: none; }
  .twitter-item a {
    color: #fff; }
    .twitter-item a:hover {
      color: #5486f6; }
  .twitter-item .author-name {
    margin-right: 10px; }
  .twitter-item .author-name,
  .twitter-item .author-username {
    font-family: "Roboto Slab", sans-serif;
    font-size: 18px;
    display: none; }
  .twitter-item .tweet-meta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
    .twitter-item .tweet-meta > * {
      font-family: "Roboto Slab", sans-serif;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -moz-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
    .twitter-item .tweet-meta a {
      font-weight: 300; }
  .twitter-item .twitter-actions {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    align-items: flex-end; }
    .twitter-item .twitter-actions a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center; }
      .twitter-item .twitter-actions a i {
        font-size: 18px;
        margin-right: 4px; }

/**------------------------------------------------
	Contact Section
--------------------------------------------------**/
.contact-block h3 {
  font-size: 20px;
  margin-bottom: 15px; }
.contact-block a, .contact-block p {
  font-size: 15px;
  font-weight: 300; }

.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
  color: #5486f6; }

.mdl-textfield label.error {
  bottom: -10px;
  color: #d50000;
  font-size: 13px;
  font-weight: 300;
  position: absolute; }

.mdl-textfield__label::after {
  background-color: #5486f6;
  bottom: 15px; }

.contact-form .mdl-textfield {
  width: 100%; }
.contact-form .mdl-textfield__label {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300; }

.form-actions [class^="msg-"] {
  display: none;
  font-size: 16px; }

/**------------------------------------------------
	Footer
--------------------------------------------------**/
#footer {
  background-color: #f7f7f7; }

/* =================================== */
/*  Color Switcher
/* =================================== */
.preview-wrapper {
  display: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-left: 0;
  color: #333;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0;
  width: 260px;
  z-index: 55;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%); }
  .preview-wrapper.extend {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px); }

.switcher-head {
  font-family: "Roboto Slab", sans-serif;
  font-size: 18px;
  position: relative;
  margin-bottom: 15px; }
  .switcher-head span {
    border-bottom: 2px solid #eee;
    display: block;
    padding-bottom: 10px; }

.switcher-trigger {
  background-color: #fff;
  border: 1px solid #ddd;
  border-left: 0;
  cursor: pointer;
  font-size: 20px;
  height: 48px;
  right: -48px;
  line-height: 46px;
  position: absolute;
  text-align: center;
  top: 120px;
  width: 48px; }

.switcher-body {
  background-color: #fff;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  outline: medium none;
  overflow: auto;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0; }
  .switcher-body h4 {
    font-size: 16px;
    margin-bottom: 10px; }

.color-options {
  margin-bottom: 10px;
  margin-left: -10px;
  overflow: hidden; }
  .color-options li {
    border-radius: 50px;
    cursor: pointer;
    float: left;
    height: 30px;
    margin: 0 0 10px 10px;
    padding: 7px 15px;
    position: relative;
    width: 30px; }
    .color-options li::before {
      color: #fff;
      left: 50%;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.header--style a {
  font-weight: 400; }

/**------------------------------------------------
	Media Queries
--------------------------------------------------**/
/*============================================================
	Macbook pro 13 inch
==============================================================*/
@media only screen and (min-width: 1601px) {
  .rocket {
    left: -50px;
    top: 16px; } }
/*============================================================
	Macbook pro 13 inch
==============================================================*/
@media only screen and (min-width: 1151px) and (max-width: 1366px) {
  .rocket {
    left: 90px;
    top: 0; }
    .rocket img {
      max-width: 45%; } }
/*============================================================
	For Small Desktop / tablet landscape
==============================================================*/
@media (min-width: 980px) and (max-width: 1150px) {
  .site-header .nav-list-item > li > a {
    padding: 0 20px; }

  .parallax-home .device {
    margin-top: 40px; }

  .banner-content h1 {
    font-size: 40px;
    line-height: 1.16; }
  .banner-content .iphone-layer {
    left: -30px; }
    .banner-content .iphone-layer img {
      max-width: 70%; }

  .cloud {
    bottom: -15%; }

  .rocket {
    left: 82px;
    top: 100px; } }
/*============================================================
    iPad Landscape 1024px
==============================================================*/
@media only screen and (max-width: 1024px) {
  .parallax {
    background-attachment: scroll !important;
    background-position: center top !important;
    background-size: cover !important; } }
/*============================================================
	Tablet (Portrait) Design for a width of 768px
==============================================================*/
@media (min-width: 768px) and (max-width: 979px) {
  .site-header .navbar-brand {
    padding: 20px 20px 20px 0; }
  .site-header .nav-list-item > li > a {
    padding: 0 10px; }
  .site-header .nav-list-item.social li a {
    padding: 0 8px; }

  .home-slider .slide-content {
    margin: 0 0 0 9%; }

  .parallax-home .device {
    margin-top: 40px; }

  .home-parallax-2 h2 {
    font-size: 36px; }

  .home-parallax-3 .opacity-logo {
    font-size: 200px; }
  .home-parallax-3 h2 {
    font-size: 35px;
    letter-spacing: 2px; }
  .home-parallax-3 p {
    font-size: 20px; }

  .cloud {
    background-position: center bottom; }

  .banner-content h1 {
    font-size: 40px;
    line-height: 1.16; }

  .cloud {
    bottom: 0; }

  .rocket {
    left: 0;
    top: 140px; }
    .rocket img {
      max-width: 100%; }

  .rd-devices {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    align-items: flex-end; }

  .team-member,
  .service-item {
    margin-bottom: 30px; }

  .logo-carousel .item img {
    max-width: 70%;
    width: auto;
    margin: 0 auto; } }
/*============================================================
	Mobile (Portrait) Design for a width of 320px
==============================================================*/
@media only screen and (max-width: 767px) {
  .section-title h2 {
    font-size: 24px; }

  .sticky-header {
    background-color: #fff;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.1);
    padding: 15px 0;
    position: relative;
    top: 0; }
    .sticky-header .navbar-brand {
      padding: 10px 0 0 15px; }
      .sticky-header .navbar-brand img {
        width: 60%; }
    .sticky-header .navbar-toggle {
      border-radius: 2px;
      margin: 0 15px 0 0; }
    .sticky-header .primary-nav {
      padding: 0 15px;
      position: relative;
      right: auto;
      -webkit-transform: translate(0px, 20px);
      -moz-transform: translate(0px, 20px);
      -ms-transform: translate(0px, 20px);
      -o-transform: translate(0px, 20px);
      transform: translate(0px, 20px); }
    .sticky-header .nav-list {
      text-align: left; }
      .sticky-header .nav-list li::after {
        content: none; }
      .sticky-header .nav-list li a::before, .sticky-header .nav-list li .active::before {
        content: none; }
      .sticky-header .nav-list li a {
        color: rgba(0, 0, 0, 0.6); }
        .sticky-header .nav-list li a:hover {
          color: #5486f6; }

  .site-header.transparent {
    background-color: #fff; }
  .site-header .navbar-brand {
    padding: 15px; }
  .site-header .navbar-toggle {
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin: 10px 15px 10px; }
  .site-header .nav-list-item {
    float: none; }
    .site-header .nav-list-item > li {
      float: none; }
      .site-header .nav-list-item > li > a {
        padding: 0;
        line-height: 35px; }
    .site-header .nav-list-item.social > li {
      float: left; }
  .site-header.primary-bg .navbar-toggle {
    background-color: #fff; }
  .site-header.primary-bg .navbar-toggle .icon-bar {
    background-color: rgba(0, 0, 0, 0.6); }
  .site-header.fixed .navbar-brand .logo1 {
    display: none; }
  .site-header.fixed .navbar-brand .logo2 {
    display: block; }

  .header-bottom {
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 11; }

  .site-header.style2 .primary-nav {
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px; }
  .site-header.style2 .nav-list-item li:first-child a {
    padding-left: 10px; }

  .home-slider .slide-content {
    margin: 0 auto; }
    .home-slider .slide-content h2 {
      font-size: 25px;
      line-height: 1.3;
      margin-bottom: 15px; }
    .home-slider .slide-content p {
      font-size: 14px; }

  .parallax-content {
    left: 15px;
    right: 15px; }
    .parallax-content .logo {
      max-width: 250px; }
    .parallax-content .device {
      margin-top: 30px; }
    .parallax-content .mdl-button {
      font-size: 12px;
      padding: 0 22px; }

  [class^="home-slider-h"] .slide-content {
    width: auto;
    left: 15px;
    right: 15px; }
  [class^="home-slider-h"] .mdl-button {
    font-size: 12px;
    padding: 0 22px; }

  .home-slider-h3 .slide-content h2,
  .home-slider-h4 .slide-content h2 {
    font-size: 25px; }

  .home-parallax-1 h4,
  .home-parallax-2 h4 {
    font-size: 14px; }
  .home-parallax-1 h2,
  .home-parallax-2 h2 {
    font-size: 18px; }

  .home-slider-h5 .slide-content h4 {
    font-size: 18px; }
  .home-slider-h5 .slide-content h2 {
    font-size: 22px; }

  .home-parallax-3 .opacity-logo {
    font-size: 90px; }
  .home-parallax-3 h2 {
    font-size: 17px;
    letter-spacing: 2px;
    margin-bottom: 10px; }
  .home-parallax-3 p {
    font-size: 14px; }

  .banner-content h1 {
    font-size: 25px;
    line-height: 38px; }

  .rd-devices {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    align-items: flex-end; }
    .rd-devices li img {
      max-width: 100%; }

  .cloud + .container {
    padding-bottom: 90px;
    padding-top: 120px; }

  .mdl-button {
    padding: 0 26px; }

  .disable.fullscreen {
    height: auto !important; }

  .team-member,
  .service-item,
  .price-table,
  .contact-block,
  .portfolio-large {
    margin-bottom: 30px; }

  .scalabilty h2 {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 30px; }

  .team-member img {
    width: 100%; }

  .logo-carousel .item img {
    max-width: 70%;
    width: auto;
    margin: 0 auto; }

  .news-slider-nav .hentry {
    padding: 20px; }

  .copyright {
    text-align: center; }

  .footer-social {
    margin: 15px 0 0;
    text-align: center; } }
